In [1]:
from interpret.glassbox import ExplainableBoostingClassifier
from interpret import show

from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix, precision_recall_fscore_support

import pandas as pd
import numpy as np

In [2]:
final_dataset = pd.read_csv("./DATA/final_dataset.csv")
final_dataset.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR,DEF_30_RATIO_SOCIAL_CIRCLE,DEF_60_RATIO_SOCIAL_CIRCLE,AMT_REQ_CREDIT_BUREAU,DEFAULT_COUNT
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,27.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [3]:
len(final_dataset)

307511

In [4]:
train_data = final_dataset.sample(n=200000)
train_data.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR,DEF_30_RATIO_SOCIAL_CIRCLE,DEF_60_RATIO_SOCIAL_CIRCLE,AMT_REQ_CREDIT_BUREAU,DEFAULT_COUNT
254336,394307,0,Cash loans,M,N,N,0,180000.0,531733.5,38691.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
238149,375799,0,Cash loans,F,N,Y,0,90000.0,582228.0,17023.5,...,0.0,0.0,2.0,0.0,0.0,2.0,0.0,0.0,4.0,0.0
43597,150466,0,Cash loans,F,N,Y,0,292500.0,677664.0,29979.0,...,0.0,0.0,0.0,0.0,1.0,5.0,0.0,0.0,6.0,0.0
57029,166099,0,Cash loans,M,Y,Y,0,157500.0,373311.0,19674.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
262082,403366,0,Cash loans,M,Y,Y,2,225000.0,225000.0,11074.5,...,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,2.0,0.0

### Train Model

In [5]:
x_cols = list(train_data.columns[2:])

X_data = train_data[x_cols]
y_data = train_data['TARGET']

X_train, X_test, y_train, y_test = train_test_split(X_data, y_data, test_size=0.30)

In [6]:
ebm = ExplainableBoostingClassifier()

In [7]:
weights = np.array([.92 if ob == 1 else .08 for ob in y_train])

In [8]:
ebm.fit(X_train, y_train, sample_weight=weights)

EBM lib loading.
Loading native on win32 | debug = False
Passing a numpy array to schema autogen when it should be dataframe.
Passing a numpy array to schema autogen when it should be dataframe.

ExplainableBoostingClassifier(feature_names=['NAME_CONTRACT_TYPE',
                                             'CODE_GENDER', 'FLAG_OWN_CAR',
                                             'FLAG_OWN_REALTY', 'CNT_CHILDREN',
                                             'AMT_INCOME_TOTAL', 'AMT_CREDIT',
                                             'AMT_ANNUITY', 'AMT_GOODS_PRICE',
                                             'NAME_TYPE_SUITE',
                                             'NAME_INCOME_TYPE',
                                             'NAME_EDUCATION_TYPE',
                                             'NAME_FAMILY_STATUS',
                                             'NAME_HOUSING_TYPE',
                                             'REGION_POPULATION_RELATIVE',
                                             'DAYS_BIRTH', 'DAYS_EMPLOYED',...
                                             'continuous', 'continuous',
                                             'continuous', 'continuous',
                                             'continuous', 'categorical',
                                             'categorical', 'categorical',
                                             'categorical', 'categorical',
                                             'continuous', 'continuous',
                                             'continuous', 'continuous',
                                             'continuous', 'categorical',
                                             'categorical', 'categorical',
                                             'categorical', 'categorical',
                                             'categorical', 'categorical',
                                             'continuous', 'continuous',
                                             'continuous', 'categorical', ...])

### Global Explanation

In [9]:
ebm_global = ebm.explain_global()
show(ebm_global)

Detected non-cloud environment.
C:\Users\thejj\anaconda3\lib\site-packages\interpret\visual\udash.py:5: UserWarning:
The dash_html_components package is deprecated. Please replace
`import dash_html_components as html` with `from dash import html`
  import dash_html_components as html
C:\Users\thejj\anaconda3\lib\site-packages\interpret\visual\udash.py:6: UserWarning:
The dash_core_components package is deprecated. Please replace
`import dash_core_components as dcc` with `from dash import dcc`
  import dash_core_components as dcc
C:\Users\thejj\anaconda3\lib\site-packages\interpret\visual\udash.py:7: UserWarning:
The dash_table package is deprecated. Please replace
`import dash_table` with `from dash import dash_table`

Also, if you're using any of the table format helpers (e.g. Group), replace
`from dash_table.Format import Group` with
`from dash.dash_table.Format import Group`
  import dash_table as dt
Note: NumExpr detected 12 cores but "NUMEXPR_MAX_THREADS" not set, so enforcing safe limit of 8.
NumExpr defaulting to 8 threads.
Generating mini dash
Generated mini dash

### Local Explanation

In [10]:
show(ebm.explain_local(X_data[:100],y_data[:100]))

Generating mini dash
Generated mini dash

### Performance Evaluation

In [11]:
y_pred = ebm.predict(X_test)

In [12]:
accuracy_score(y_pred, y_test)

0.69795

In [13]:
precision, recall, _, _ = precision_recall_fscore_support(y_pred,y_test)
print("Precision: " + str(precision[1]))
print("Recall: " + str(recall[1]))

Precision: 0.6800249169435216
Recall: 0.16492924409528126

In [14]:
confusion_matrix(y_pred, y_test)

array([[38602,  1541],
       [16582,  3275]], dtype=int64)

No overall plot to display: -1|ExplainableBoostingClassifier_1