In [12]:
from interpret.glassbox import ExplainableBoostingClassifier
from interpret import show

from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix

import pandas as pd
import numpy as np

In [2]:
final_dataset = pd.read_csv("./DATA/final_dataset.csv")
final_dataset.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR,DEF_30_RATIO_SOCIAL_CIRCLE,DEF_60_RATIO_SOCIAL_CIRCLE,AMT_REQ_CREDIT_BUREAU,DEFAULT_COUNT
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,27.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [51]:
len(final_dataset)

307511

In [3]:
train_data = final_dataset.sample(n=200000)
train_data.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR,DEF_30_RATIO_SOCIAL_CIRCLE,DEF_60_RATIO_SOCIAL_CIRCLE,AMT_REQ_CREDIT_BUREAU,DEFAULT_COUNT
306386,454978,1,Cash loans,M,Y,N,2,292500.0,718749.0,52429.5,...,0.0,0.0,1.0,0.0,0.0,5.0,0.0,0.0,6.0,0.0
303008,451055,0,Cash loans,M,Y,N,0,135000.0,450000.0,28759.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
74323,186195,0,Revolving loans,F,Y,Y,1,99000.0,292500.0,14625.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
171831,299145,0,Cash loans,M,N,Y,1,180000.0,781920.0,39924.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
20477,123884,0,Cash loans,F,N,Y,0,180000.0,177903.0,13896.0,...,0.0,0.0,0.0,1.0,0.0,4.0,0.0,0.0,5.0,0.0

In [42]:
x_cols = list(train_data.columns[2:])

X_data = train_data[x_cols]
y_data = train_data['TARGET']

X_train, X_test, y_train, y_test = train_test_split(X_data, y_data, test_size=0.20)

In [43]:
ebm = ExplainableBoostingClassifier()

In [44]:
weights = np.array([.92 if ob == 1 else .08 for ob in y_train])

In [45]:
ebm.fit(X_train, y_train, sample_weight=weights)

ExplainableBoostingClassifier(feature_names=['NAME_CONTRACT_TYPE',
                                             'CODE_GENDER', 'FLAG_OWN_CAR',
                                             'FLAG_OWN_REALTY', 'CNT_CHILDREN',
                                             'AMT_INCOME_TOTAL', 'AMT_CREDIT',
                                             'AMT_ANNUITY', 'AMT_GOODS_PRICE',
                                             'NAME_TYPE_SUITE',
                                             'NAME_INCOME_TYPE',
                                             'NAME_EDUCATION_TYPE',
                                             'NAME_FAMILY_STATUS',
                                             'NAME_HOUSING_TYPE',
                                             'REGION_POPULATION_RELATIVE',
                                             'DAYS_BIRTH', 'DAYS_EMPLOYED',...
                                             'continuous', 'continuous',
                                             'continuous', 'continuous',
                                             'continuous', 'categorical',
                                             'categorical', 'categorical',
                                             'categorical', 'categorical',
                                             'continuous', 'continuous',
                                             'continuous', 'continuous',
                                             'continuous', 'categorical',
                                             'categorical', 'categorical',
                                             'categorical', 'categorical',
                                             'categorical', 'categorical',
                                             'continuous', 'continuous',
                                             'continuous', 'categorical', ...])

In [46]:
ebm_global = ebm.explain_global()
show(ebm_global)

In [47]:
show(ebm.explain_local(X_data[:100],y_data[:100]))

In [48]:
y_pred = ebm.predict(X_test)

In [49]:
accuracy_score(y_pred, y_test)

0.6989

In [50]:
confusion_matrix(y_pred, y_test)

array([[12951,   548],
       [ 5474,  1027]], dtype=int64)